* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container-centered {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text-centered {
    text-align: center;
}

.btn {
    padding: .7em;
    border: none;
    border-radius: 20px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-blue {
    background-color: #0084fd;
    color: white;
}

.btn-purple {
    background-color: #9792e4;
    color: black;
}

.btn-white-text {
    color: white;
}

.btn-circle {
    width: 40px;
    height: 40px;
}

.btn-medium {
    width: 100px;
}

.btn-wide {
    width: 200px;
}

/* nav */
nav {
    background-color: #0084fd;
    height: 75px;
}

nav #nav-inner {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    color: white;
}

nav #nav-inner #nav-logo {
    
}

nav #nav-inner .fa-bars {
    font-size: 2em;
}

nav #nav-inner #nav-links {
    display: none;
}
/* /nav */

/* main */
main section {
    padding-top: 50px;
    padding-bottom: 70px;
}

main section .row {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

main section .row .col {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

/* sezione-uno */
main #sezione-uno .row .col {
    background-color: #b5ddff;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

main #sezione-uno .row .col:first-child {
    justify-content: space-between;
}

main #sezione-uno .row .col .col-text {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

main #sezione-uno .row .col .col-text .btn .fa-apple {
    margin-right: 5px;
}

main #sezione-uno .row .col img {
    width: 200px;
    height: auto;
}

main #sezione-uno .row .col > i {
    font-size: 5em;
}

main #sezione-uno .row .col > p {
    margin-bottom: 35px;
}
/* /sezione-uno */

/* sezione-due */
main #sezione-due {
    background-color: #9792e4;
}
main #sezione-due .row .col:nth-of-type(2) {
    background-color: white;
    padding: 30px;
    border-radius: 40px;
}

main #sezione-due .row .col img {
    width: 100%;
    height: auto;
}
/* /sezione-due */

/* sezione-tre */
main #sezione-tre {
    text-align: center;
}

main #sezione-tre .row .col {
    background-color: #9792e4;
    padding: 30px;
    border-radius: 40px;
}

main #sezione-tre .row .col .col-left .testimonial-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* /sezione-tre */

/* sezione-quattro */
main #sezione-quattro {
    background-color: #9792e4;
}

main #sezione-quattro .row .col {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
/* /sezione-quattro */

/* sezione-cinque */
main #sezione-cinque .col #about-us-pic {
    width: 200px;

    position: relative;
}

main #sezione-cinque .col #about-us-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

main #sezione-cinque .col #about-us-pic span {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 10em;
    color: #9792e4;
}

main #sezione-cinque .row .col {
    background-color: white;
    padding: 30px;

    align-items: start;
}
/* /sezione-cinque */

/* sezione-sei */
main #sezione-sei {
    background-color: #9792e4;
    color: white;
    text-align: center;
}

main #sezione-sei .row .col {
    padding: 30px;
}
/* /sezione-sei */
/* /main */

/* footer */
footer {
    background-color: #333333;
    height: 250px;
    padding: 50px 20px;

    color: white;
    font-size: 0.8em;
    text-align: center;
}

footer #footer-inner {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
/* /footer */

@media screen and (min-width: 768px) {
    main #sezione-uno .row {
        flex-flow: row wrap;
    }

    main #sezione-uno .row .col:first-child {
        width: calc(100% / 3 * 2 - 25px / 3);
    }

    main #sezione-uno .row .col {
        width: calc(100% / 3 - 25px / 3 * 2);
    }

    main #sezione-tre .row .col {
        flex-flow: row nowrap;
    }

    main #sezione-quattro .row {
        flex-flow: row wrap;
    }

    main #sezione-quattro .row .col {
        width: calc(100% / 2 - 25px / 2);
    }

    main #sezione-cinque .row {
        flex-flow: row nowrap;
    }
}

@media screen and (min-width: 992px) {
    .container-centered {
        max-width: 1200px;
    }

    nav #nav-inner .fa-bars {
        display: none;
    }

    nav #nav-inner #nav-links {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 30px;

        list-style-type: none;
        padding-inline-start: 0;
    }

    main #sezione-uno .row .col:first-child {
        flex-flow: row nowrap;
    }

    main #sezione-uno .row .col:first-child img {
        width: 50%;
        height: auto;
    }

    main #sezione-due .row {
        flex-flow: row nowrap;
        align-items: end;
    }

    main #sezione-due .row .col:nth-of-type(1) {
        width: 60%;
    }

    main #sezione-due .row .col:nth-of-type(2) {
        width: 40%;
    }

    main #sezione-quattro .row .col {
        width: calc(100% / 3 - 25px / 3 * 2);
    }
}